<mat-toolbar color="primary">
  <!-- Logo and Home Link -->
  <a mat-button routerLink="/" class="logo-link">
    <mat-icon>shopping_cart</mat-icon>
    <span class="logo-text">{{ 'header.appName' | translate }}</span>
  </a>

  <!-- Navigation Links -->
  <ng-container *ngIf="isLoggedIn">
    <a mat-button routerLink="/products" routerLinkActive="active">
      <mat-icon>inventory_2</mat-icon>
      {{ 'header.menu.products' | translate }}
    </a>
  </ng-container>

  <span class="spacer"></span>

  <!-- Language Selector -->
  <button mat-button [matMenuTriggerFor]="languageMenu" class="language-btn">
    <mat-icon>language</mat-icon>
    {{ currentLang.toUpperCase() }}
  </button>
  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item *ngFor="let lang of languages" 
            (click)="switchLang(lang.code)"
            [class.active]="currentLang === lang.code">
      {{ lang.name }}
    </button>
  </mat-menu>

  <!-- User Menu -->
  <ng-container *ngIf="isLoggedIn">
    <button mat-button [matMenuTriggerFor]="userMenu" class="user-btn">
      <mat-icon>account_circle</mat-icon>
      {{ currentUser?.name }}
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        {{ 'header.menu.logout' | translate }}
      </button>
    </mat-menu>
  </ng-container>

  <!-- Login/Register Links -->
  <ng-container *ngIf="!isLoggedIn">
    <a mat-button routerLink="/login" routerLinkActive="active">
      <mat-icon>login</mat-icon>
      {{ 'header.menu.login' | translate }}
    </a>
    <a mat-button routerLink="/register" routerLinkActive="active">
      <mat-icon>person_add</mat-icon>
      {{ 'header.menu.register' | translate }}
    </a>
  </ng-container>
</mat-toolbar>